@import "../../node_modules/normalize-scss/sass/normalize";
@include normalize();

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins-bold.woff2') format('woff2'),
  url('../fonts/poppins-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1.3;
  height: 100%;

  @media (min-width: 768px) {
    font-size: 17px;
  }
}

body {
  background-color: #2F1C76;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;


  @media print {
    background-color: white;
    color: black;
  }
}

h1,
.h1 {
  font-size: 2rem;

  @media (min-width: 425px) {
    font-size: 2.3rem;
  }

  @media (min-width: 768px) {
    font-size: 3.5rem;
  }

  @media (min-width: 1440px) {
    font-size: 4rem;
  }
}


main {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;

  @media (max-height: 1079px) {
    min-height: 100%;
  }

  @media (min-width: 768px) {
    padding: 50px;
  }

  @media (min-width: 1440px) {
    padding: 100px;
  }

  @media (min-height: 1080px) {
    min-height: 1080px;
  }
}

.top-container {

}

.text-container {
  max-width: 375px;
  margin-bottom: 4rem;

  @media (min-width: 768px) {
    max-width: 700px;
    margin-bottom: 2rem;
  }

  h1,
  .h1 {
    margin: 0;
  }
}

.avatar {
  border-radius: 50%;
  border: 2.5px solid white;
  float: right;
  width: 50px;

  @media (min-width: 768px) {
    width: 100px;
    border-width: 5px;
  }
}

.links-container {
  > a {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 18px;
    }

    @media (min-width: 768px) {
      &:not(:last-child) {
        margin-right: 25px;
      }
    }

    @media (min-width: 1920px) {
      &:not(:last-child) {
        margin-right: 50px;
      }
    }

    @media print {
      display: block;
      margin-bottom: 15px;

      &,
      &:visited {
        text-decoration: none;
        color: inherit;
      }
    }

    img {
      $icon-height: 35px;
      height: $icon-height;
      vertical-align: middle;

      &.behance {
        height: $icon-height * 0.7441;
      }

      @media (min-width: 768px) {
        $icon-height: 50px;
        height: $icon-height;

        &.behance {
          height: $icon-height * 0.7441;
        }
      }

      @media (min-width: 1920px) {
        $icon-height: 75px;
        height: $icon-height;

        &.behance {
          height: $icon-height * 0.7441;
        }
      }

      .print-only {
        img {
          margin-right: 15px;
          vertical-align: middle;
        }
      }
    }
  }
}

.no-print {
  @media print {
    display: none;
  }
}
.print-only {
  display: none;

  @media print {
    display: initial;
  }
}
